/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 mai 2015, 13:45:06
    Author     : EK
*/

body{
    /*background:url();*/
    background-color: #ccc;
}
/*
img.bg_connexion{
    -webkit-transform:scale(1);
    transition: 10s;
}
*/
div#page_connexion h1{
   /* color:#fff;*/
}
div#page_connexion{
    position: relative;
    padding: 20px 40px;
    top:50px;

    width: 40%;
    left:50%;
    margin-left:-20%;
    /*text-align: center;*/
}
div#page_connexion input{
    padding: 10px;
    width: 100%;
    opacity:0.9;
}

div#page_connexion button{
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    width: 200px;
    color: #fff;
    float:right;
}
button.bt_fb{
    background-color: #458;
}
button.bt_google{
    background-color: crimson;

}
div.barre_vertical{
    background-color: #444;
    position: absolute;
    top: 60px;
    bottom: 60px;
    width: 1px;
    left: 400px;
}
table td{
    padding: 5px;
}
table#tab_connect button:hover{
    background-color: #27ae60;
}
table#tab_connect{
    position: relative;
    top: 30px;
    left: 0px;
    right: 0px;
    width: 100%;
}
table#tab_connect button{
    cursor:pointer;
    background-color: seagreen;
}
table#tab_connect_social{
    position: absolute;
    top: 150px;
    right: 80px;
}
table#tab_connect_social td{
    padding: 5px;
}