/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 mai 2015, 14:02:42
    Author     : EK
*/
/* -------------------- BODY -------------------- */
body{
    background-color: #fafafa;
}
/* -------------------- END BODY -------------------- */

/* -------------------- HEADER -------------------- */
header{
    /*background-color: seagreen;
    color:#fff;*/
    background-color: #fff;
    border-bottom: 1px solid #eee;
    
    font-size: 40px;
    font-weight: bold;
    
    margin-bottom: 30px;
    padding: 20px;
}
/* -------------------- END HEADER -------------------- */

/* -------------------- TABLE -------------------- */
table{
    width: 100%;
}
table td{
    padding: 5px 30px;
}
/* -------------------- END TABLE -------------------- */

/* -------------------- INPUT/BUTTON -------------------- */
input,button{
    padding:10px;
}
input{
    width: 100%;
}
button{
    background-color: salmon;
    color: #fff;
    float: right;
    cursor: pointer
}
/* -------------------- END INPUT/BUTTON -------------------- */

/* -------------------- FIELDSET -------------------- */
fieldset{
    background-color: #fff;
    padding: 30px;
    position: relative;
    width:100%;
    left: 50%;
    margin-left: -50%;
    margin-bottom: 30px;
}
fieldset legend{
    padding: 20px 10px;
    font-size: 30px;
    color:salmon;
    float: left;
}
/* -- fieldset#fieldset_edit_objectif -- */
fieldset#fieldset_edit_objectif{
    background-color: salmon;
}
fieldset#fieldset_edit_objectif table td,fieldset#fieldset_edit_objectif legend{
    color: #fff;
}
fieldset#fieldset_edit_objectif input{
    background-color:#C74444;
    border:1px solid #892323;
    /*text-shadow: 0px 1px 0px #000;*/
    color: #fff;
}
fieldset#fieldset_edit_objectif button:hover{
    background-color:#F95353;
}
fieldset#fieldset_edit_objectif button{
    background-color:#761B1B;
}
fieldset#fieldset_edit_objectif table td:nth-child(1){
    width: 250px;
}
/* -- fieldset#fieldset_new_user -- */
fieldset#fieldset_new_objectif{}
fieldset#fieldset_new_objectif table td:nth-child(1){
    width: 250px;
}
fieldset#fieldset_new_objectif input{
    border: 1px solid #ccc;
}
fieldset#fieldset_new_objectif button:hover{
    background-color: #761B1B;
}
/* -- fieldset#fieldset_manage_users -- */
fieldset#fieldset_manage_objectif{}
/* -------------------- END FIELDSET -------------------- */